.listlanguages__wrapper {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 6px;
    width: 44px;
    background: transparent;
    font-size: 1.4rem;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
}