.button {
  height: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
  outline: none;
  position: relative;
  color: white;
  font-size: 3rem;
  box-shadow: 5px 10px 17px -3px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 5px;
  
  &:active {
    transform: translateX(5px);
  }

  &:nth-child(1){
    background:rgba(171, 15, 40, 0.85);
    border: 1px solid rgb(171, 15, 40); 
  }

  &:nth-child(2){
    background: rgba(63, 55, 201,.8);
    border: 1px solid rgb(63, 55, 201);
    opacity: .8;
  }
}
