.wrapperlayout {
  &__wrapper {
    height: 800px;
    width: 100%;
    position: relative;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    opacity: 0.7;
    filter: brightness(1.2);
  }
  &__time {
    color: black;
    font-size: 1.2rem;
    position: absolute;
    z-index: 9998;

    width: 100%;
    text-align: center;
    > input {
      position: absolute;
      display: none;
    }

    &--bg {
      background-color: white;
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 480px;
      height: 800px;
    }
    &--count {
      top: 5px;
      left: 10px;
      position: fixed;
      transition: all 0.15s;
      display: grid;
      place-items: center;
      transform: scale(1);
      z-index: 9999;
    }

    &--logo {
      margin-top: 3rem;
    }

    input[type="checkbox"]:checked + &--bg {
      display: block;
    }

    input[type="checkbox"]:checked ~ &--count {
      transform: translate(-10px, -5px) scale(4);
      width: 100%;
      height: 100vh;
    }
  }
}
