.contentthank {

  &__wrapper {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(90deg, #8cd7db 0, #7998c7 58%);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 10;
    text-align: center;
  }

  &__shape:nth-child(1) {
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: 7rem;
    left: 0.5rem;
  }
  &__shape:nth-child(2) {
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 25%;
    right: 0.5rem;
    z-index: 10;
  }
  &__container {

    width: 380px;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #555;
    padding: 1rem;
    line-height: 2rem;
    &--title {
      text-transform: uppercase;
    }
    &--list {
      list-style-type: none;
    }
  }

  &__listhelp {
    li {
      margin-left: 2rem;
    }
  }
}