.mainlayout {
  &__container {
    width: 350px;
    height: 600px;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -42%);
    //background: rgba(255, 255, 255, 0.25);
    background: transparent;
    //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    //backdrop-filter: blur(5px);
    //-webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    //border: 1px solid rgba(255, 255, 255, 0.18);
    &--button {
      height: 90%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  &__info {
    display: flex;
    justify-content: flex-end;
    &--icon {
      font-family: "Cookie", cursive;
      display: inline-block;
      font-size: 2rem;
      font-weight: 800;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 5px 10px 17px -3px rgba(0, 0, 0, 0.8);
      width: 51px;
      height: 51px;
      border-radius: 50%;
    }
  }
}
