.buttonoption {
  &__wrapper {
    outline: none;
    font-size: 1.5rem;
    background-color: #f2f2f2;
    border: none;
    &:active {
      background-color: rgba(221, 221, 221, 0.623);
    }
  }

  &__bright {
    background-color: #fcfcfc;
  }
}
