.buttonsubmit {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #222;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  outline: none;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 150px;
  
  &:active {
    background-color: #ccc;
  }

  &:focus {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  &:hover {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  &:disabled,
  &[disabled] {
    background-color: rgba(180, 180, 180, 0.4);;
    color: #444;
    border: 1px solid white;
  }
}
