.inputcode {
  &__wrapper {
    width: 400px;
    height: 620px !important;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -48%);
    background: transparent;
  }

  &__button {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 1.2rem;
    margin-bottom: 0.7rem;
  }

  &__form {
    height: 55%;
    margin-top: -1rem;
  }

  &__countdown {
    margin-block-start: 1em;
    margin-block-end: 0em;
    &--time {
      color: red;
    }
  }
  &__info {
    position: absolute;
    bottom: -10px;
    right: 2%;
    display: flex;
    justify-content: flex-end;
    &--icon {
      font-family: "Cookie", cursive;
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 800;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 5px 10px 17px -3px rgba(0, 0, 0, 0.8);
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
