.alertfail {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 9998;
  }

  &__mess {
    background-color: #ffa500;
    padding: 1rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    font-size: 1.2rem;
    transform: translateY(0px);
    //animation: show .5s;
  }
}


@keyframes show{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}