.phoneinput{
  &__wrapper{
    width: 400px;
    height: 600px;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-45%);
    background: transparent;
  }

  &__button{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 1.2rem;
    margin-bottom: .7rem;
  }

  &__form{
    height: 55%;
  }
}