.buttonsubmit{
  outline: none;
  background-color: white;
  border: 2px solid #aaa;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 150px;
  &:active{
    background-color: #ccc;
  }
}