.inputphone {
  &__phone {

    background: rgba(255,255,255,0.4);
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #222;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    &:focus {
      background: rgba(255,255,255,0.6);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    }
    &:hover {
      background: rgba(255,255,255,0.6);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    }
    outline: none;
    padding: 1rem;
    width: 80%;
    border-radius: 5px;
    font-size: 3rem;
  }

  &__label {
    width: 88%;
    margin: 0 auto;
    text-align: left;
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  &__wrapper {
    position: relative;
  }

  &__visible {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
