.inputphone {
  &__phone {
    outline: none;
    padding: 1rem;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: 1.5rem;
  }

  &__label {
    width: 88%;
    margin: 0 auto;
    text-align: left;
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  &__wrapper {
    position: relative;
  }

  &__visible {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
