.buttonoption {
  &__wrapper {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #222;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    &:hover {
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
    }
    outline: none;
    font-size: 2rem;
    &:active {
      background-color: rgba(221, 221, 221, 0.623);
    }
  }

  &__bright {
    background-color: rgba(189, 189, 189, 0.623);
  }
}
