/********** Fonts **********/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: none;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  cursor: none;
}

button{
  cursor: none;
}

::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}