.backbutton__wrapper{

  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #222;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  outline: none;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 150px;
  margin-top: 2rem;
  &:hover {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  &:active{
    background-color: #efefefd3;
  }
}